* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('../fonts/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaPT-ExtraBold';
  src: url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
    url('../fonts/FuturaPT-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'FuturaPT-Book', sans-serif;
}
.container {
  max-width: 91.6%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
h2,
h3 {
  margin: 0;
  color: $gold;
}
.button {
  border: 1px solid $gold;
  width: 340px;
  height: 40px;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  &--light {
    color: $gold;
    background-color: $white;
  }
  &--dark {
    color: $white;
    background-color: $gold;
  }
}
