* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('../fonts/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaPT-ExtraBold';
  src: url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
    url('../fonts/FuturaPT-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'FuturaPT-Book', sans-serif;
}
.container {
  max-width: 1760px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
h2,
h3 {
  color: $gold;
}

// .button
//   display: block
//   width: 240px
//   max-height: 50px
//   font-family: 'Inter-Medium'
//   font-size: 15px
//   text-decoration: none
//   text-align: center
//   color: inherit
//   padding: 16px 0
//   cursor: default
//   &__registration
//     background-color: #000000
//     color: #ffffff
//     border: 2px solid #000000
//   &__consultation
//     border: 2px solid #000000
// .title
//   font-family: 'PlayfairDisplay-Bold', serif
//   font-size: 55px
//   margin: 0
//   &__background
//     position: absolute
//     top: -75px
//     left: 0
//     width: 156px
//     height: 208px
//     background: #FBF0EC
//     border-radius: 0px 150px 0px 0px
//     z-index: -1;
